* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
}

.logo {
    width: 154px;
    height: 31px;
}

.logo_place_header {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 64px;
}

.header__title {
    width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    align-self: center;
    margin: 64px;
    z-index: 2;
}

.header__subtitle {
    width: 380px;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    position: absolute;
    bottom: 30px;
    left: 64px;
}

.header__link {
    text-decoration: none;
    color: #2F80ED;
}

.header__main-illustration {
    width: 756px;
    height: 608px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    position: absolute;
    top: 64px;
    right: 0;
}

.description {
    width: 80%;
    margin: 100px auto;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: #2F80ED;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
    padding: 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

.section-title {
    width: 60%;
    text-align: center;
    margin: 100px auto 20px auto;
    font-size: 60px;
    line-height: 1.5;
    font-weight: bold;
}

.section-title_theme_dark {
    color: #F2F2F2;
    margin: 90px auto 20px auto;
    line-height: 1.15;
}

.section-subtitle {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: normal;
}

.section-subtitle_theme_dark {
    color: #F2F2F2;
    line-height: 24px;
    margin-top: 20px;
}

.table {
    margin: 60px auto 100px auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    list-style: none;
}

.table_theme_dark {
    margin: 80px auto 90px auto;
    row-gap: 80px;
}

.table__cell {
    width: 250px;
}

.table__cell_theme_dark {
    color: #F2F2F2;
    width: 200px;
}

.table__heading {
    font-size: 24px;
    font-weight: bold;
    color: #2F80ED;
    line-height: 1.15;
    margin-bottom: 20px;
}

.table__heading_theme_dark {
    color: #F2F2F2;
}

.table__text {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

.feynman {
    height: 100vh;
    background-color: #F2F2F2;
    z-index: 1;
    position: relative;
    text-align: center;
}

.feynman__title {
    width: 775px;
    margin: 100px auto 70px auto;
    padding-top: 100px;
    font-size: 95px;
    font-weight: bold;
    line-height: 1.15;
}

.feynman__subtitle {
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
}

.feynman__link {
    text-decoration: none;
    color: #2F80ED;
    position: absolute;
    top: 50%;
    right: 48px;
}

.feynman__image {
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.kaufman {
    position: relative;
    overflow: hidden;
    background-color: #1F1F1F;
    z-index: 1;
    color: #F2F2F2;
}

.kaufman__triangle {
    width: 800px;
    position: absolute;
    top: 0;
    right: -124px;
    z-index: -1;
}

.footer {
    background-color: #1F1F1F;
    color: #F2F2F2;
}

.footer__columns {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.footer__column_content_copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 711px;
}

.footer__author {
    align-items: space-between;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-heading {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.footer__list-item {
    list-style: none;
    padding: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.footer__column-link {
    text-decoration: none;
    color: #F2F2F2;
}

.footer__social-icons {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
}